<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danfstuckygmail.harvestmoontracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cow_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PeopleActivity" />
        <activity android:name=".AnimalsActivity" />
        <activity android:name=".CropsActivity" />
        <activity android:name=".StoryActivity" />
        <activity android:name=".PersonActivity" />
        <activity android:name=".UpgradesActivity" />
        <activity android:name=".animals.FarmAnimalActivity" />
        <activity android:name=".animals.PetActivity" />
        <activity android:name=".animals.CircusAnimalActivity"></activity>
    </application>

</manifest>